
<h3><a class="btn btn-secondary" href="/pet"><i class="fa fa-plus"></i> Create New</a>Pet List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Arrival</th>
            <th>Species</th>
            <th>Breed</th>
            <th>Weight</th>
            <th>Color</th>
            <th>Sex</th>
            <th>Location</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.Name}}</td>
            <td>{{this.dateArrived}}</td>
            <td>{{this.Species}}</td>
            <td>{{this.Breed}}</td>
            <td>{{this.Weight}}</td>
            <td>{{this.Color}}</td>
            <td>{{this.Sex}}</td>
            <td>{{this.Location}}</td>
            <td>{{this.img}}</td>
            
            <td>
                <a href="/pet/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/pet/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>